<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>ViraL Blogger | Home</title>
        <div th:replace="fragments/base :: style-imports"></div>
    </head>
    <body>
        <div th:replace="fragments/base :: header"></div>

        <div class="container">
            <h1>WELCOME</h1>
            <div th:if="${#httpServletRequest.remoteUser != null}">
                <p th:text="${#httpServletRequest.remoteUser}">
                    sample_user
                </p>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out" />
                </form>
            </div>
        </div>

        <div th:replace="fragments/base :: footer"></div>
    </body>
    <div th:replace="fragments/base :: js-imports"></div>
</html>