<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <div th:fragment="style-imports">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
            <link rel="stylesheet" th:href="@{/thirdparty/materialize/css/materialize.css}" media="screen,projection"/>
            <link rel="stylesheet" th:href="@{/css/custom-styles.css}"/>
        </div>
    </head>
    <body>
        <div th:fragment="header">
            <div class="navbar-fixed">
                <nav class="teal">
                    <div class="container">
                        <a th:href="@{/}" class="brand-logo">ViraL Blogger</a>
                        <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <!--<li><a href="#">Topics</a></li>-->
                            <li><a href="#">New Peeps!</a></li>

                            <li th:switch="${!#authorization.expression('isAuthenticated()')}">
                                <a th:case="${true}" th:href="@{/login}">Login</a>
                                <a th:case="${false}" class="profile-button" data-activates="profile-dropdown">
                                    <div class="chip">
                                        <img th:src="@{/img/account.png}"/>
                                        <span th:text="${#authentication.name}"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul id="mobile-nav" class="side-nav">
                            <!--<li><a href="#">Topics</a></li>-->
                            <li><a href="#">New Peeps!</a></li>
                            <li th:switch="${!#authorization.expression('isAuthenticated()')}">
                                <a th:case="${true}" th:href="@{/login}">Login</a>
                                <a th:case="${false}" th:href="@{/logout}">Logout</a>
                            </li>
                        </ul>

                        <!-- Profile Dropdown content -->
                        <ul id="profile-dropdown" class="dropdown-content">
                            <li><a th:href="@{/profile}">Profile</a></li>
                            <li><a th:href="@{/logout}">Logout</a></li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>

        <div th:fragment="footer">
            <footer class="page-footer teal">
                <div class="footer-copyright">
                    <div class="container">
                        © 2016 Spring MVC Development
                        <div class="right">Cory Gonzales</div>
                    </div>
                </div>
            </footer>
        </div>
    </body>

    <div th:fragment="js-imports">
        <script type="text/javascript" th:src="@{/thirdparty/jquery/jquery-1.11.3.js}"></script>
        <script type="text/javascript" th:src="@{/thirdparty/materialize/js/materialize.js}"></script>
        <script type="text/javascript" th:src="@{/thirdparty/angular/angular.min.js}"></script>
        <script type="text/javascript" th:src="@{/thirdparty/angular/angular-resource.min.js}"></script>
        <script type="text/javascript" th:src="@{/thirdparty/angular/angular-route.min.js}"></script>

        <!-- Including the inline js that we need, this is cleaner to just inject the fragment
             via replace rather than pasting in plain js script tag and code -->
        <div th:replace="fragments/base :: base-js-inline"></div>
    </div>

    <div th:fragment="base-js-inline">
        <!-- If there is a user logged in set up the profile dropdown for use -->
        <div th:if="${#httpServletRequest.remoteUser}">
            <script type="text/javascript">
                $().ready(function(){
                    $('.profile-button').dropdown({
                        inDuration: 300,
                        outDuration: 225,
                        constrain_width: false, // Does not change width of dropdown to that of the activator
                        hover: true,            // Activate on hover
                        gutter: 0,              // Spacing from edge
                        belowOrigin: true,      // Displays dropdown below the button
                        alignment: 'center'       // Displays dropdown with edge aligned to the left og button
                    });
                });
            </script>
        </div>
    </div>

</html>