doctype html

html
  head(ng-app="blogApp")
    title ViraL Blog
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    nav
        .nav-wrapper.indigo.darken-3
            a(href='#' class='brand-logo') ViraL Blogger
            a(href='#' data-activates='mobile-nav' class='button-collapse')
                i(class='material-icons') menu

            ul(class='right hide-on-med-and-down')
                li
                    a(href='#') Login
                li
                    a(href='#') New Bloggers
            ul(id='mobile-nav' class='side-nav')
                li
                    a(href='#') Login
                li
                    a(href='#') New Bloggers

  body
    div(class='container')
        block content


    script(src='javascripts/bundled/vendor.bundle.js')
    script(src='javascripts/bundled/blog.bundle.js')
