<!doctype html>

<html>
	<head>
		<title>Template</title>
	</head>
	
	<body>
		<form>
			Product: <input type="text" size=40 name="productName" value="${productName}" />
			<p>SKU: <input type="text" name="sku" value="${sku}" />
		</form>	
	</body>
</html>

