<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="bloggerApp">
<head>
    <head>
        <meta charset="UTF-8" />
        <title>ViraL Blogger | Profile</title>
        <div th:replace="fragments/base :: style-imports"></div>
    </head>
</head>
    <body>
        <div th:replace="fragments/base :: header"></div>

        <div class="container" ng-controller="profileCtrl">
            <h5 class="center" th:text="${#strings.capitalize(user.firstname)} + ' ' +
                                        ${#strings.capitalize(user.lastname)}"></h5>

            <div class="profile-icon">
                <img class="z-depth-3" th:src="@{/img/testing.jpg}" />

                <button class="btn-floating btn-small waves-effect waves-light teal lighten-4"
                        ng-click="showImageUpload=!showImageUpload">
                    <i class="material-icons">settings</i>
                </button>
                <div class="row" ng-show="showImageUpload">
                    <form method="POST" enctype="multipart/form-data" th:action="@{/profile/uploadpic}">
                        <div class="file-field input-field col s4">
                            <div class="btn">
                                <span>File</span>
                                <input type="file" accept=".png,.jpg"/>
                            </div>
                            <div class="file-path-wrapper">
                                <input ng-model="filepath" class="file-path validate" type="text"/>
                            </div>
                        </div>
                        <div class="col s3" ng-hide="filepath==''">
                            <button type="submit" class="waves-effect waves-light btn blue lighten-2">
                                Upload
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div th:replace="fragments/base :: footer"></div>
        <div th:replace="fragments/base :: js-imports"></div>
        <script type="text/javascript" th:src="@{/js/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/services/bloggerServices.js}"></script>
        <script type="text/javascript" th:src="@{/js/controllers/profileController.js}"></script>
    </body>
</html>