<h1>
  {{firstName}}
</h1>
<form>
  <label for="first-name">Name:</label>
  <div class="ui input">
    <input id="first-name" name="name" [(ngModel)]="firstName"/>
  </div>
</form>
<button class="ui primary button" (click)='show = !show'>Toggle</button>
<h3 *ngIf="show">{{firstName}}</h3>
