<!DOCTYPE html>
<html ng-app="sportsStore">
	<head>
		<title>SportsStore</title>
		<g:render template="headerimports"/>
		
		<script>
			angular.module("sportsStore", ["customFilters"])
		</script>
		<g:javascript src="controllers/sportsStore.js"/>
	</head>

	<body ng-controller="sportsStoreCtrl">
		<g:render template="navbar"/>
		
		<div class="container">
			<!-- Content display row -->
			<div class="row">
				<!-- Category Column -->
				<div class="col s3">
					Categories go here
				</div>
				
				<!-- Products Column -->
				<div class="col s8">
					<div class="card z-depth-2" ng-repeat="product in data.products">
						<div class="card-content">
							<h3>
								<strong>{{product.name}}</strong>
								<span class="badge">{{product.price | currency}}</span>
							</h3>
							<span>{{product.description}}</span>
						</div>
					</div>
				</div>
			</div> <!-- End row -->
		</div> <!-- End container -->
	
		<g:render template="footerimports"/>
	</body>
</html>