<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Index | IGN Rest</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" th:href="@{/js/thirdparty/materialize/css/materialize.css}" media="screen,projection"/>
        <link rel="stylesheet" th:href="@{css/custom.css}"/>
    </head>
    <body>
        <div class="container">
            <h1 class="center">IGN Feed Fetch</h1>

            <div class="center">
                <img class="hidden" id="loading-img" src="http://img.ffffound.com/static-data/assets/6/f71fbabb835aebca4489ba2e0d5cd6aff3ad528c_m.gif"
                     width="350" height="200"/>
            </div>

            <!-- This table will be populated when the user clicks the Get Feed! button, $(#feed-display)-->
            <div class="row center">
                <div class="col s8">
                    <table class="bordered">
                        <tbody id="feed-display">
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row center">
                <div class="input-field col s3">
                    <label for="start-index-textinput">Start Index</label>
                    <input class="validate" id="start-index-textinput" type="text"/>
                </div>
                <div class="input-field col s3">
                    <label for="count-textinput">Count</label>
                    <input class="validate" id="count-textinput" type="text"/>
                </div>
                <div class="col s12">
                    <button class="waves-effect waves-light btn" id="submit-button">Get Feed!</button>
                </div>
            </div>

            <!-- Comment the above .row .center div and uncomment the below form to utilize Spring MVC form objects -->
            <!--<form action="#" th:action="@{/}" th:object="${ignRequest}" method="post">-->
                <!--<div class="row">-->
                    <!--<div class="input-field col s3">-->
                        <!--<label for="start_index_input_text">Start Index</label>-->
                        <!--<input th:field="*{startIndex}" class="validate" id="start_index_input_text" type="number" min="1" max="200"/>-->
                    <!--</div>-->
                    <!--<div class="input-field col s3">-->
                        <!--<label for="count_input_text">Count</label>-->
                        <!--<input th:field="*{count}" class="validate" id="count_input_text" type="number" min="1" max="20"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button class="waves-effect waves-light btn" type="submit" name="action">Submit<i class="mdi-content-send right"></i></button>-->
                <!--<button class="waves-effect waves-light btn" type="reset" name="action">Reset<i class=""></i></button>-->
            <!--</form>-->

        </div>
    </body>
    <script type="text/javascript" th:src="@{/js/thirdparty/jquery/jquery-1.11.3.js}"></script>
    <script type="text/javascript" th:src="@{/js/thirdparty/materialize/js/materialize.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</html>