.navbar-collapse{
    padding-top: 110px;
}

.row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.margin-20px{
    margin-top: 20px;
}