<div ng-controller="mainCtrl" class="list">
  <div class="add">
    <a href="" ng-click="addTodo()">+ Add a New Task</a>
  </div>
  
  <div class="item" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}">
    <input ng-click="todo.edited = true" ng-model="todo.completed" type="checkbox"/>
    <label ng-hide="editing" ng-click="editing = !editing">{{todo.name}}</label>
    <input ng-model="todo.name" ng-change="todo.edited = true" ng-blur="editing = false" ng-show="editing" class="editing-label" type="text"/>
    
    <div class="actions">
      <a href="" ng-click="saveTodos()">Save</a>
      <a href="" ng-click="deleteTodo(todo, $index)" class="delete">Delete</a>
    </div>
  </div>
</div>