.hidden{
    display: none;
}

.feed-row{
    background-attachment: fixed;
    background-size: calc(47%);
    background-position-x: 50%;
}

/*.feed_row*/
/*{*/
    /*display:inline-block;*/
    /*border:0;*/
    /*width: 250px;*/
    /*height: 35px;*/
    /*-webkit-transition: all 300ms ease-in;*/
    /*-webkit-transform: scale(2);*/
    /*!*-ms-transition: all 200ms ease-in;*!*/
    /*-ms-transform: scale(2);*/
    /*-moz-transition: all 300ms ease-in;*/
    /*-moz-transform: scale(2);*/
    /*transition: all 300ms ease-in;*/
    /*transform: scale(2);*/
/*}*/
/*.feed_row:hover*/
/*{*/
    /*-webkit-transition: all 200ms ease-in;*/
    /*-webkit-transform: scale(.8);*/
    /*!*-ms-transition: all 300ms ease-in;*!*/
    /*-ms-transform: scale(.8);*/
    /*-moz-transition: all 300ms ease-in;*/
    /*-moz-transform: scale(.8);*/
    /*transition: all 300ms ease-in;*/
    /*transform: scale(.8);*/
/*}*/

/*tr*/
/*{*/
    /*min-width: 100px;*/
    /*max-width: 500px;*/
    /*overflow: hidden;*/
/*}*/